<html>
  <head>
    <title>Convert PDF to MP4</title>

    <style media="screen">
      form {
        padding-top: 1cm;
        padding-left: 1cm;
      }
      table {
        margin: 1;
        border-collapse: collapse;
        border-style: hidden;
      }
      table td {
        padding: 0.5rem;
        border: 1px solid grey;
      }
      table th {
        padding: 0.5rem;
        border: 1px solid grey;
      }
    </style>
  </head>
  <body>
    <form
      ref="uploadForm"
      id="uploadForm"
      action="#"
      method="post"
      enctype="multipart/form-data"
    >
      <label>Select your PDF:</label>
      <input type="file" name="pdf" />
      <br />
      <br />
      <table>
        <tr>
          <th><label>Pages Per Second: </label></th>
          <th><label>Seconds Per Page: </label></th>
        </tr>
        <tr>
          <td>
            <input
              type="number"
              step="0.001"
              name="framesPerSecond"
              min="0"
              max="10"
            />
          </td>
          <td>
            <input
              type="number"
              step="0.001"
              name="secondsPerFrame"
              min="0"
              max="10"
            />
          </td>
        </tr>
      </table>
      <br />
      <br />
      <input
        id="submitBtn"
        type="submit"
        style="display: block"
        value="Convert"
        onclick="showLoading()"
      />

      <div id="loadingGif" style="display: none">
        <img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif" />
      </div>
    </form>

    <script>
      function showLoading() {
        document.getElementById("loadingGif").style.display = "block";
        document.getElementById("submitBtn").style.display = "none";
      }

      function setFormAction() {
        var form = document.getElementById("uploadForm");
        form.setAttribute("action", location.protocol + "/pdf2mp4");
      }

      window.onload = setFormAction();
    </script>
  </body>
</html>
