<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MP4 Video Stream</title>
    <style>
      div.center {
        text-align: center;
        vertical-align: center;
      }
    </style>
  </head>
  <body>
    <div class="center">
      <video id="videoPlayer" height="640" controls muted="muted" autoplay>
        <source id="mp4source" src="/video/stream" type="video/mp4" />
      </video>
    </div>
    <br />
    <div>
      <form id="downloadBtn" action="#" method="get">
        <input
          type="text"
          id="filename"
          name="name"
          value=""
          style="display: none"
        />
        <button type="submit">Download</button>
      </form>
    </div>

    <script>
      function getVideoName() {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i = 0; i < vars.length; i++) {
          var pair = vars[i].split("=");
          if (pair[0] == "name") {
            return pair[1];
          }
        }
        return false;
      }

      function setSources() {
        var videoName = getVideoName();

        if (!videoName) {
          alert("This video is unavailable");
          return;
        }

        var mp4source = document.getElementById("mp4source");
        var downloadBtn = document.getElementById("downloadBtn");
        var filename = document.getElementById("filename");
        mp4source.setAttribute("src", "/video/stream?name=" + videoName);
        downloadBtn.setAttribute(
          "action",
          location.protocol + "/video/download"
        );
        filename.setAttribute("value", videoName);
      }

      window.onload = setSources();
    </script>
  </body>
</html>
